@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
:root {
  --main-text-color: #212121;
  --background-color: #ffffff;
  --main-footer-background-color: #2f303a;
  --additional-text-color: #757575;
  --btn-color: #2196f3;
  --btn-active-color: #188ce8;
  --container-color: #eeeeee;
  --logo-text-color: #000000;
  --section-background-color: #f5f4fa;
  --secondary-text-color: #ffffff;
  --line-color: #ececec;
  --main-font-family: 'Roboto', sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: var(--main-font-family);
  font-style: normal;
  max-width: 1600px;
  color: var(--main-text-color);
}

* {
  text-decoration: none;
  list-style-type: none;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2em;
  letter-spacing: 0.03em;
  color: var(--logo-text-color);
}

.logo span {
  color: var(--btn-color);
}

.links-nav,
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1rem;
  letter-spacing: 0.02em;
}

.links-nav a {
  color: var(--logo-text-color);
}

a.current-page {
  color: var(--btn-color);
}

.links-nav a:hover,
.links-nav a:focus {
  color: var(--btn-color);
}

.header-contacts a {
  color: #757575;
}

.header-contacts a:hover,
.header-contacts a:focus {
  color: var(--btn-color);
}

.hero {
  background-color: var(--main-footer-background-color);
}

.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  /* text-align: center; */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.btn {
  background-color: var(--btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88em;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--btn-active-color);
}

.filter-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  line-height: 1.62em;
  /* text-align: center; */
  letter-spacing: 0.03em;
  border: none;
  background-color: var(--section-background-color);
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:hover {
  background-color: var(--btn-active-color);
  color: var(--secondary-text-color);
}

.features {
  font-size: 14px;
}

.feature-title {
  font-weight: 700;
  line-height: 16px;
  line-height: 1rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: var(--additional-text-color);
}

.what-we-do-title,
.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  line-height: 1.2em;
  /* text-align: center; */
  letter-spacing: 0.03em;
}

.our-team-name {
  font-size: 16px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
}

.our-team-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
}

.project-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
}

.project-example {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88em;
  letter-spacing: 0.03em;
  color: var(--additional-text-color);
}

.footer {
  background-color: var(--main-footer-background-color);
}

.footer-content a {
  color: var(--secondary-text-color);
}

.address-link a {
  opacity: 0.6;
}

.address :hover,
.address :focus {
  color: var(--btn-active-color);
}
/* .footer .mail,
.footer .tel {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

/* letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
} */
