@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
:root {
  --main-text-color: #212121;
  --background-color: #FFFFFF;
  --footer-background-color: #2F303A;
  --additional-text-color: #757575;
  --btn-color: #2196F3;
  --btn-active-color: #188CE8;
  --container-color: #EEEEEE;
  --logo-text-color: #000000;
  --section-background-color: #F5F4FA;
  --secondary-text-color: #FFFFFF; 
  --line-color: #ECECEC;
  --main-font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: var(--main-font-family);
  max-width: 1600px;
  color: var(--main-text-color);
}

* {
  text-decoration: none;
  list-style-type: none;
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--logo-text-color);
}

.logo span {
  color: var(--btn-color);
}

.links-nav,
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1rem;
  letter-spacing: 0.02em;
}

.links-nav a {
  color: var(--logo-text-color);
}

.links-nav a:hover,
.links-nav a:focus {
  color: var(--btn-active-color);;
}

a[href$='portfolio.html'] {
  color: var(--btn-active-color);
}

.header-contacts a {
  color: #757575;
}

.header-contacts a:hover,
.header-contacts a:focus {
  color: var(--btn-active-color);
}


.filter-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  line-height: 1.62em;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  background-color: var(--section-background-color);
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:hover {
  background-color: var(--btn-active-color);
  color: var(--secondary-text-color);
}

.project-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
}

.project-example {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88em;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;

  color: var(--additional-text-color);
}






.footer {
  background-color: var(--footer-background-color);
}

.footer-content a {
  color: var(--secondary-text-color);
}

.address-link a {
  opacity: 0.6;
}

.address :hover,
.address :focus {
  color: var(--btn-active-color);
}
/* .footer .mail,
.footer .tel {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  /* letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
} */ 